<%= form_for(@vegetable) do |f| %>
  <% if @vegetable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vegetable.errors.count, "error") %> prohibited this vegetable from being saved:</h2>

      <ul>
      <% @vegetable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <hr/>
  <p>Sowing</p>
  <fieldset data-role="controlgroup" data-type="horizontal">
  <label>Start</label>
  <%= raw select_week("start_sowing_week", @vegetable.start_sowing_week) %>
  <%= select_month(@vegetable.start_sowing_month, :field_name => "start_sowing_month", :prompt => "(month)") %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
  <label>End</label>
  <%= raw select_week("end_sowing_week",  @vegetable.end_sowing_week) %>
  <%= select_month(@vegetable.end_sowing_month, :field_name => "end_sowing_month", :prompt => "(month)") %>
  </fieldset>
  <hr/>
  <p>Planting out</p>
  <fieldset data-role="controlgroup" data-type="horizontal">
  <label>Start</label>
  <%= raw select_week("start_planting_out_week",  @vegetable.start_planting_out_week) %>
  <%= select_month(@vegetable.start_planting_out_month, :field_name => "start_planting_out_month", :prompt => "(month)") %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
  <label>End</label>
  <%= raw select_week("end_planting_out_week",  @vegetable.end_planting_out_week) %>
  <%= select_month(@vegetable.end_planting_out_month, :field_name => "end_planting_out_month", :prompt => "(month)") %>
  </fieldset>
  <hr/>
  <p>Harvesting</p>
  <fieldset data-role="controlgroup" data-type="horizontal">
  <label>Start</label>
  <%= raw select_week("start_harvest_week",  @vegetable.start_harvest_week) %>  
  <%= select_month(@vegetable.start_harvest_month, :field_name => "start_harvest_month", :prompt => "(month)") %>
  </fieldset>
  <fieldset data-role="controlgroup" data-type="horizontal">
  <label>End</label>
  <%= raw select_week("end_harvest_week",  @vegetable.end_harvest_week) %>
  <%= select_month(@vegetable.end_harvest_month, :field_name => "end_harvest_month", :prompt => "(month)") %>
  </fieldset>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <label for="vegetable_category">Category</label><br />
    <select id="vegetable_cateogory" name="vegetable[category]"><option value="">Select a Category</option>
<option value="Vegetable">Vegetable</option>
<option value="Fruit">Fruit</option>
</select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
