

<div data-role="page"> 

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vegetable.name %>
</p>

<p>
  <b>Category:</b>
  <%= @vegetable.category %>
</p>

<table border="0" width='90%'>
	<thead>
		<th></th><th>January</th><th>February</th><th>March</th><th>April</th><th>May</th><th>June</th><th>July</th><th>August</th><th>September</th><th>October</th><th>November</th><th>December</th>
	</thead>
	<tbody>
		<tr><td width='7%'>Sowing</td><%= raw @vegetable.build_coverage_for_sowing%></tr>
		<tr><td width='7%'>Planting out</td><%= raw @vegetable.build_coverage_for_planting%></tr>
		<tr><td width='7%'>Harvesting</td><%= raw @vegetable.build_coverage_for_harvest%></tr>
	</tbody>
</table>

<%= link_to 'Edit', edit_vegetable_path(@vegetable) %> |
<%= link_to 'Back', vegetables_path %>
</div>